@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Hammersmith+One&family=Lexend:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Russo+One&family=Science+Gothic:wght@100..900&family=Space+Grotesk:wght@300..700&family=Viga&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #111;
}

.main {
  height: 100vh;
  width: 100%;
}

.header {
  height: 27vh;
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(82, 82, 82);
  padding-bottom: 10px;
}

.header .con1 {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.header .con1 h1 {
  font-size: 5vh;
}
.header .con1 h1 span {
  color: orange;
}

.services {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 30px;
}

.services .part1 {
  height: 30vh;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: green; */
  margin-left: 90px;
  gap: 60px;
  margin-bottom: 40px;
}

.services .part1 .box1 {
  height: 30vh;
  width: 55%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  padding-left: 20px;
  transition: transform 0.3s ease;
}

.services .part1 .box1:hover {
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #111;
  box-shadow: 0 0 10px rgb(151, 151, 151);
  transform: scale(1.03);
}

.part1 .box1 i {
  font-size: 10vh;
}
.part1 .box1 h1 {
  font-size: 5vh;
}

.services .part1 .box2 {
  height: 30vh;
  width: 55%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  padding-left: 20px;
  transition: transform 0.3s ease;
}

.services .part1 .box2:hover {
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
  color: black;
  box-shadow: 0 0 10px rgb(151, 151, 151);
  transform: scale(1.03);
}

.part1 .box2 i {
  font-size: 10vh;
}
.part1 .box2 h1 {
  font-size: 5vh;
}

.services .part1 .box3 {
  height: 30vh;
  width: 55%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  padding-left: 20px;
  transition: transform 0.3s ease;
}

.services .part1 .box3:hover {
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
  color: black;
  box-shadow: 0 0 10px rgb(151, 151, 151);
  transform: scale(1.03);
}

.part1 .box3 i {
  font-size: 10vh;
}
.part1 .box3 h1 {
  font-size: 5vh;
}
