@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Hammersmith+One&family=Lexend:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Russo+One&family=Science+Gothic:wght@100..900&family=Space+Grotesk:wght@300..700&family=Viga&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: white;
}

.main{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    background-color: #111;
    padding: 40px 0;
}

.left-side{
    width: 25%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: red; */
    border-right: 1px solid #dadada;
}

.img img{
    width:50vh;
}

.left-side h1{
    font-size: 6vh;
}
.left-side h1 span{
    color: #FFB700;
}

.left-side h4{
    margin-top: -12px;
    font-weight: 500;
    padding-right: 255px;
    margin-bottom:20px;
}

.left-side .icon{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    /* background-color: white; */
    padding-left: 20px;
    margin-bottom: 5px;
}

.left-side .icon i{
    font-size: 40px;
}
.left-side .icon i:hover{
    color: #FFB700;
}

.contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.contact-box .icon1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.contact-box .icon1 i{
    font-size: 5vh;
}

.contact-box .data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    gap: 25px;
    margin-left: 40px;
}

.contact-box .data .data1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.contact-box .data .data2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.contact-box .data .data3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.right-side{
    width: 75%;
    height: 100%;
    padding-left: 30px;
}

.right-side>h1{
    text-decoration: underline;
    color: #FFB700;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.profile h1{
    font-size: 5vh;
    text-decoration: underline;
    color: #FFB700;
}

.profile p{
    color: hsl(0, 0%, 59%);
}

.education{
    display: flex;
    gap: 40px;
    margin-top: 10px;
     margin-bottom: 15px;
}

.qualification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.qualification h2, h4{
    font-size: 1.5vh;
    font-weight: 500;
}

.quali-about{
    width: 45vh;
}

.quali-about p{
    color: #a4a2a2;
    border-left: 1px solid #6f6f6f;
    padding-left: 10px;
}

.experience{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.expe{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    justify-content: flex-start;
    padding-right: 30px;
}

.expe h2, h4{
    font-size: 1.5vh;
    font-weight: 500;
}
.expe-about{
    width: 45vh;
}

.expe-about p{
    color: #a4a2a2;
    border-left: 1px solid #6f6f6f;
    padding-left: 10px;
}

.skill{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skill .sk{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.skill .sk .sk1{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skill .sk .sk1 i{
    font-size: 10vh;
}

.skill .sk .sk1 h1{
    font-size: 4vh;
}

.skill .sk .sk2{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skill .sk .sk2 i{
    font-size: 10vh;
}

.skill .sk .sk3 h1{
    font-size: 4vh;
}


.skill .sk-1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.skill .sk-1 .sk1{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skill .sk-1 .sk1 i{
    font-size: 10vh;
}

.skill .sk-1 .sk1 h1{
    font-size: 4vh;
}

.skill .sk-1 .sk2{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skill .sk-1 .sk2 i{
    font-size: 10vh;
}

.skill .sk-1 .sk3 h1{
    font-size: 4vh;
}
