@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Hammersmith+One&family=Lexend:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Russo+One&family=Science+Gothic:wght@100..900&family=Space+Grotesk:wght@300..700&family=Viga&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  color: white;
  font-family: "Poppins", sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
}
.main{
    height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    height: 10vh;
    width: 100%;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

nav .logo{
    display: flex;
    align-items: center;
    padding-left: 50px;
}
nav .logo h1{
    text-transform: uppercase;
    font-size: 6.5vh;
    color: rgb(255, 183, 0);
}
nav .options{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 100px;
}

.options h4{
    padding: 10px;
    margin: 5px;
}

.options h4 a {
    text-decoration: none;
    font-weight: 500;
    font-size: 2vh;
}

.page1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.basic-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    padding-left: 150px;
}

.basic-info h5{
    font-size: 2.4vh;
    font-weight: 400;
    color: rgb(255, 183, 0);
}

.basic-info h1{
    font-size: 10vh;
    line-height: 1.2;
    padding-top:15px;
}

.basic-info h1 span{
    color: rgb(255, 183, 0);
}

.basic-info p{
    font-size: 2vh;
    padding-top: 10px;
}
.btn{
    padding-top: 30px;
}
.btn button{
    padding: 10px 30px;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 2vb;
    font-weight: 600;
}

.btn .btn1{
    background-color: rgb(255, 183, 0);
}
.img{
    height: 100vh;
    padding-right: 50px;
    padding-top: 100px;
    overflow: hidden
}

.img img{
    height: 97vh;
}

.page2{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img1 img{
    width: 85vh;
    margin-left: 70px;
}

.about{
    width: 85vh;
}

.about h1{
    font-size: 8vh;
}

.about p{
    color: rgb(164, 159, 159);
}

.main-data{
    display: flex;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.opt{
    display: flex;
    flex-direction: column;
}
.opt h4{
    font-size: 3vh;
    font-weight: 600;
    margin: 5px 0;
}

.opt-data{
    display: flex;
    flex-direction: column;
}
.opt-data p{
    font-size: 3vh;
    font-weight: 300;
    color: grey;
    margin: 5px 0;
}

.about h2 span{
    color: rgb(255, 183, 0);
}

.about button{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 40px;
    background-color: rgb(255, 183, 0);
    color: #111;
    font-weight: 800;
    font-size: 2vh;
    border-radius: 1px solid white;
}